/* @import url("fonts.css"); */

body {
  background-color: purple;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.images {
  width: 500px;
  height: 300px;
  border-radius: 30px;
}

.p1 {
  font-size: 40px;
  font-weight: 400;
  font-family: 'Oxygen';
  padding: 30px;
  color: white;
}